.card{
	text-align:center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width:320px;
	transition: transform 1s;
	margin:auto;
}
h4{
	padding-bottom:10px;
}
img{
	width:100%;
}
.card:hover{
	transform:scale(1.1);
}
